.site-header {
  padding: $pad;
  background: $black;
  color: white;
  margin-bottom: $pad;

  font-family: $heading-typeface;
  font-size: 40px;

  border-bottom: 6px solid $accent;

  & > .headertext {
    font-weight: 600;
    font-size: 30;

    margin: 0;
  }

  & .headersubtext {
    margin: $pad 0;
    padding-right: 30%;

    display: block;
    font-weight: 100;
    font-size: 16px;
    color: rgba(white, 0.7);
  }
}
